<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13564294004-g1564itcvv0iho4s1hkki11vdkjg87pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13564294004-g1564itcvv0iho4s1hkki11vdkjg87pc</string>
	<key>API_KEY</key>
	<string>AIzaSyBHlCReMj7dEaA-e0dguSe45roNoU1HKXA</string>
	<key>GCM_SENDER_ID</key>
	<string>13564294004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partiu</string>
	<key>PROJECT_ID</key>
	<string>partiu-479902</string>
	<key>STORAGE_BUCKET</key>
	<string>partiu-479902.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:13564294004:ios:5c6f246862e8cb3cc0f221</string>
	<key>DATABASE_URL</key>
	<string></string>
</dict>
</plist>