<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13564294004-3edvbujvrqv197n6ttpbus2gibprqsr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13564294004-3edvbujvrqv197n6ttpbus2gibprqsr6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>13564294004-289p5qit2gsntuu73uk9b92s86damooi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9DcPOLt4FggQqmHPJd7JRlWdhR0XV4gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13564294004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maikelgalvao.partiu</string>
	<key>PROJECT_ID</key>
	<string>partiu-479902</string>
	<key>STORAGE_BUCKET</key>
	<string>partiu-479902.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13564294004:ios:0658c8691dc9dbbac0f221</string>
</dict>
</plist>